:root {
    --carabina-environment-size: 45px;
    --carabina-header-size: 115px;
    --carabina-footer-size: 40px;
    --carabina-body-size: calc(100% - var(--carabina-footer-size) - var(--carabina-header-size));

    --carabina-tree-node-item-height: 50px !important;
}
