.dropdown-menu {
    padding: 0;
    width: max-content;
    border-radius: 5px;
}

.dropdown-menu {
    outline: none !important;
}

.dropdown-menu:focus, .dropdown-menu:active {
    outline: none !important;
}

.dropdown-item {
    padding: 15px 20px;
    font-weight: lighter;
    color: var(--carabina-text-darker-color);
    background-color: var(--carabina-header-background-darker-color);
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item-active {
    text-decoration: none;
    background-color: var(--carabina-header-background-color);
    color: var(--carabina-text-darker-color);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--carabina-text-color);
    background-color: var(--carabina-header-background-darker-color);
}

.dropdown-item-disabled, .dropdown-item-disabled:hover, .dropdown-item-disabled.hover {
    text-decoration: none;
    pointer-events: none;
    background-color: var(--carabina-header-background-color);
    color: var(--carabina-text-darker-color);
}

.dropdown-divider {
    height: 0;
    margin: .01rem 0;
    overflow: hidden;
}
