.carabina-icon {
    cursor: pointer;
    font-size: 16px;
    color: var(--carabina-theme-color);
    transition: all ease 200ms;
}

.carabina-icon:hover {
    transform: scale(1.1);
    filter: brightness(110%);
}

.carabina-icon:active {
    transform: scale(1.2);
    filter: brightness(120%);
}
