::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
}

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
    background-color: var(--carabina-nav-bar-background-color);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
    color: transparent;
    background: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background: rgba(0, 0, 0, 0.65);
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.9);
    -webkit-border-radius: 100px;
}
