.tree-node {
    background-color: var(--carabina-header-background-color);
    border-bottom: 1px solid var(--carabina-header-background-lighter-color);
    height: 50px;
}

.tree-item {
    cursor: pointer;
    color: var(--carabina-text-darker-color);
}

.component-name-tag {
    font-weight: lighter;
    font-size: 13px;
}
