:root {
    --requisition-color: #e8bf57;
    --publisher-color: #c88022;;
    --subscription-color: #589df6;
    --passing-test-color: #9FB630;
    --failing-test-color: #a9524a;
    --invalid-color: #a9524a;
    --enqueuer-color: #9FB630;

    --text-color: #eeeeee;
    --text-smooth-color: #a4a4a4;
    --stacker-header-background-color: #2b2a2e;
    --stacker-background-color: #353535;
    --stacker-background-alternative-color: #424242;
}

.jumbotron-header {
    background-color: var(--stacker-header-background-color);
    margin-bottom: 0;
}

.title-header {
    transform: scale(1, .7);
    font-family: 'Nova Mono', monospace;
    font-size: 6.5rem;
    color: var(--text-color);
    letter-spacing: -15px;
}

.small-green-ball {
    cursor: pointer;
    color: var(--enqueuer-color);
    position: relative;
    font-size: 20px;
    top: -10px;
    left: 2vw;
    transition: 400ms ease all;
}

.small-green-ball:active {
    color: var(--enqueuer-color);
    transform: scale(2) translateX(8vw);
}

.jumbotron-summary {
    color: var(--text-color);
    font-size: 25px;
    text-align: center;
}

.jumbotron-header-button {
    background-color: var(--text-color);
    color: var(--stacker-header-background-color);
}

.img-binaries {
    width: 50%;
    height: auto;
    background-color: var(--text-color);
    margin-right: 2px;
    margin-left: 2px;
}

.jumbotron-header-button:hover, .img-binaries:hover {
    box-shadow: 0 0 20px var(--enqueuer-color);
}

.github-icon-class {
    height: 30px;
    padding-right: 10px;
}

.powered-by {
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
}

.stacker-link, .readme-container a {
    color: var(--enqueuer-color);
    font-weight: bold;
}

.readme-container img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 2.1rem;
    color: var(--enqueuer-color);
}

.readme-container h3 {
    font-size: 2rem;
    color: var(--enqueuer-color);
}

.readme-container h5 {
    font-size: 1.2rem;
    color: var(--enqueuer-color);
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}


@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

@media (max-width: 1400px) {
    .binaries-container {
        display: none;
    }
}
